/*
variables du framework
*/
/* DIMENSION DES BOITES */

/* TAILLE DES CONTENUS */

/* COULEURS*/
/*COULEURS POLICES */
$couleur1: #b05a5a ;
$couleur2: #6b6b6b ;
$couleur3: #999 ;
$couleurForm: #d3d3d3 ;
$couleurGrisFoncer: #293133 ;
$couleurNoir: #000000 ;
/* DIMENSION*/


/* GRILLES */
$grillesColonnesNombres: 12;
$grillesGoutieres: .5rem;

$grilleBreakPoint : ("xs" : "0", "s" : "568px", "m" : "768px", "l" : "1024px", "xl" : "1240px");
